.container{
    background-color: rgb(244, 238, 243);
    border: 3px solid black;
    padding: 20px;
}
a{
   text-decoration: none;
   font-size: 25px;
   padding: 10px;
   cursor: pointer;
}
.home{
    position: relative;
    transition: 0.4s;
    /* right: -110%; */
}
.centered{
    position: absolute;
    top: 10%;
    left: 45%;
    font-size: 50px;
    font-family: 'Times New Roman';
   
}
.home.active{
   left: 0;
}
.about{
    right: -110%;
    transition: 0.4s;
}
.about.active{
    left: 0;
}
.contain img{
    display: grid;
    padding: 20px;
}
h1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}
P{
    font-size: 20px;
}
.main{
    display: flex;
}
li{
    font-size: 20px;
}
span{
    font-weight: bold;
}
.contact{
    text-align: center;
}
button{
    font-size: 20px;
    background-color: green;
    color: black;
    border-radius: 5px;
}